.DS_Store
Thumbs.db

config.user.inc.php
/files/
/build/
.vscode

codeception.yml
/tests/_output/
/tests/_support/*Tester.php
/tests/_support/_generated/
/tests/*.suite.yml
/doxygen/dist

/node_modules/
/bower_components/
/vendor/
composer.phar
composer.lock

.idea
*.sublime-workspace
*.sublime-project
.codeintel

install.config.php

sitemap.xml

layouts/plain
layouts/Trendshop*
layouts/jquerymobile/
layouts/kpi_dashboard/
layouts/singleskushop/
layouts/svcheckout_layout/
layouts/xet_*

modules/svcart/skins/Trendshop/
modules/svitem/skins/Trendshop*
modules/svitem/skins/plain/
modules/svorder/m.skins/trendshop/
modules/svorder/skins/Trendshop/